{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>INICIAR SESIÓN</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" href="{% static 'iniciar_sesion/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'iniciar_sesion/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="{% static 'iniciar_sesion/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<link rel="stylesheet"  href="{% static 'iniciar_sesion/css/util.css' %}">
    <link rel="stylesheet" href="{% static 'iniciar_sesion/css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--===============================================================================================-->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <defs>
        <symbol xmlns="http://www.w3.org/2000/svg" id="home" viewBox="0 0 24 24"><path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z"/></symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><circle cx="12" cy="9" r="3"/><circle cx="12" cy="12" r="10"/><path stroke-linecap="round" d="M17.97 20c-.16-2.892-1.045-5-5.97-5s-5.81 2.108-5.97 5"/></g></symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="faq" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41c0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/></symbol>
    </defs>
</svg>
<div class="top-bar-ecommerce">
    <div class="top-bar-left">
        <a href="{% url 'index' %}">
            <img src="{% static 'iniciar_sesion/images/logo.jpg' %}" alt="Logo" class="img-fluid">
        </a>
        <p class="top-bar-text">Bienvenido a la tienda virtual de Todo Aquí</p>
    </div>
    
    <div class="top-bar-right">
        <ul class="d-flex justify-content-end align-items-center list-unstyled m-0 py-0 my-0">
            <li>
                <a href="{% url 'index' %}" class="p-2 mx-1" title="Inicio">
                    <svg width="24" height="24"><use xlink:href="#home"></use></svg>
                </a>
            </li>
            <li>
                <a href="#" class="p-2 mx-1" title="Perfil">
                    <svg width="24" height="24"><use xlink:href="#user"></use></svg>
                </a>
            </li>
            <li>
                <a href="#" class="p-2 mx-1" title="Preguntas Frecuentes">
                    <svg width="24" height="24"><use xlink:href="#faq"></use></svg>
                </a>
            </li>
        </ul>
    </div>
</div>
  
</head>
<body>
	<div class="contenedor-general">
		<img class="gif-login" src="{% static 'iniciar_sesion/images/1.jpg' %}">
  <form method="POST" id="loginForm">
    {% csrf_token %}
	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">
                  
					<span class="login100-form-title p-b-49">
						Iniciar sesión
						
					</span>

					<div class="input-container">
						<div class="input-field" id="emailField">
							<div class="wrap-input100 validate-input m-b-23" data-validate="Email is required">
								<label for="email" class="formbold-form-label" style="color: #1a1a1a; font-weight: 600;"> Correo Electrónico </label>
								<input class="input100" type="email" name="email" id="email" placeholder="Ingrese su correo electrónico" required>
								<span class="focus-input100" data-symbol="&#xf206;"></span>
							</div>
						</div>

						<div class="input-field hidden" id="passwordField">
							<div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
								<label for="password" class="formbold-form-label" style="color: #1a1a1a; font-weight: 600;"> Contraseña </label>
								<input class="input100" type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
								<span class="focus-input100" data-symbol="&#xf190;"></span>
							</div>
						</div>
					</div>
					
					<div class="button-container">
						<div class="top-buttons">
							<button type="button" class="custom-button" id="nextButton">
								Siguiente
							</button>
							
							<div class="dropdown" id="createAccountDropdown">
								<button class="custom-button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									Crear cuenta
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><a class="dropdown-item" href="{% url 'registrar_persona' %}">Persona</a></li>
									<li><a class="dropdown-item" href="{% url 'registrar_empresa' %}">Empresa</a></li>
								</ul>
							</div>
							<button type="button" class="custom-button" id="backButton" style="display: none;">
								Regresar
							</button>
						</div>
						
						<button class="google-button">
							<img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" class="google-icon" alt="Google">
							Continuar con Google
						</button>
					</div>
					
					
					

				
				</form>
			</div>
		</div>
	</div>
</form>
	
</div>
	




	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{% static 'iniciar_sesion/js/main.js' %}"></script>

		
	


</body>
</html>